body{
    background-image: url("images.png");
    background-repeat: no-repeat;
    background-size:cover;
}

#flex-box1{
    position: absolute; top: 30%; left: 30%;
    /* width: 40%;
    height: 40%; */
    border-style: solid;
    border-color: black;
    border-radius: 40px;
    background-color: aqua;
    opacity: 0.75;
    padding: 40px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* #form-box{
    width: 100%;
    height: 100%;
} */

#flex-box2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

button{
    margin-top: 2px;
    border-radius: 4px;
}

#name-field{
    margin-left: 3px;
}

#savedAnswers-box{
    border-style:dashed;
    border-color: darkgrey;
}

#result-percent{
    height: 10px;
}

#result-string{
    height: 10px;
}

#saved-answer{
    height: 10px;
}